@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.center {
    justify-content: center;
}

.mobile-menu {
    visibility: hidden;
    text-align: center;
}

.mobile-menu a {
    padding: 0 20px;
}

.container {
   padding: 20px;
}

.main-img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin: 20px auto; 
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
    .mobile-menu {
        visibility: visible !important;
    }
}

