<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>matty 3:16</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav class="navbar hero has-background-dark is-transparent" role="navigation" aria-label="main navigation">
      <div class="hero-body">
        <div class="navbar-brand center">
        <div class="navbar-menu navbar-end"><a class="navbar-item has-text-light" href="social.html">social</a></div>
          <a class="navbar-item has-text-light has-text-weight-bold is-flex is-size-1" href="index.html">💀 matty 3:16 ✊🏿</a>
        <div class="navbar-menu navbar-start"><a class="navbar-item has-text-light" href="blog.html">blog</a></div>
        </div>
      </div>
    </nav>
